html, body { padding: 0; margin: 0; }

body, button, input {
	font: 200 14px/1.4em "Maven Pro", Helvetica, Arial, sans-serif;
	color: #999;
	letter-spacing: .5px;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2 {
	color: black;
}

.green-button {
	background-color: rgb(136, 177, 71);
	padding: 11px 35px;
	border: none;
	border-radius: 8px;
	color: white;
	line-height: 1em;
}

button:hover {
	cursor: pointer;
}

input:focus {
	outline: 1px solid rgb(136, 177, 71);
}

header {
	position: fixed; 
	padding: 20px 50px;
	background-color: rgba(255, 255, 255, 1);
	width: 100%;
	-webkit-transition: box-shadow .2s linear;
	z-index: 1;
	white-space: nowrap;
	font-size: 1.2em;
}

li a#sign-up{
	border: 1px solid #89af3e;
	padding: 5px 8px;
	color: white;
	background-color: #89af3e;
	border-radius: 4px;
	-webkit-transition: background-color .1s ease-out, border-color .1s ease-out, color .1s ease-out;
}

li a#sign-up:hover {
	border: 1px solid none;
}

#container {
	position: absolute;
	top: 0;
	width: 100%;
	max-width: 1500px;
}

h1 {
	display: inline-block;
	vertical-align: middle;;
	margin: 0;
}

h1 img {
	width: 200px;
}

#nav-menu-container {
	width: 70%; height: 100px;
	float: right;
}

#nav-menu {
	padding-left: 0;
	margin: 0;
	list-style-type: none;
	float: right;
	line-height: 53px;
}

#nav-menu li {
	padding: 0 15px;
	margin: 0;
	display: inline-block;
	float: left;
}

#nav-menu a {
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 1px;
	padding-bottom: 5px;
	line-height: 1em;
}

#nav-menu a:hover {
	border-bottom: 3px solid #89af3e;
}

#content {
	width: 100%;
	padding-top: 93px;
}

#intro {
	background-image: url(/img/owner-cling.jpg);
	background-size: cover;
	width: 100%;
	height: calc(100vh - 93px);
	position: relative;
}

#email-list-box {
	position: absolute;
	width: 337px; height: 327px;
	top: 50%; left: 15%;
	margin-top: -164px; 
	background-color: white;
	border-radius: 8px;
	padding: 40px;
}

#email-list-box h2 {
	text-transform: uppercase;
	font-size: 1.2em;
	margin: 0;
	letter-spacing: 1px;
	text-align: center;
}

#email-list-box form {
	line-height: 3em;
	text-align: center;
}

#email-list-box button {
	margin-top: 20px;
}

#join-email-list input {
	border: 1px solid rgb(199, 199, 199);
	background-color: rgb(235, 235, 235);
	padding: 5px 8px;
	color: black;
	width: 100%;
}