html, body { padding: 0; margin: 0; }

body, button, input {
	font: 200 14px/1.4em "Maven Pro", Helvetica, Arial, sans-serif;
	color: #999;
	letter-spacing: .5px;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2 {
	color: black;
}

h2, h3 {
	font-family: "Gotham Rounded";
	text-transform: uppercase;
	line-height: 1em;
}

h2 {
	font-size: 2.4em;
	text-align: center;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 60px;
}

section {
	padding: 60px 0;
}

.green-button {
	background-color: rgb(136, 177, 71);
	padding: 11px 35px;
	border: none;
	border-radius: 8px;
	color: white;
	line-height: 1em;
}

button:hover {
	cursor: pointer;
}

input:focus {
	outline: 1px solid rgb(136, 177, 71);
}

header {
	position: fixed; 
	padding: 20px 50px;
	background-color: rgba(255, 255, 255, 1);
	width: 100%;
	-webkit-transition: box-shadow .2s linear;
	z-index: 1;
	white-space: nowrap;
	font-size: 1.2em;
}

li a#sign-up{
	border: 1px solid #89af3e;
	padding: 5px 8px;
	color: white;
	background-color: #89af3e;
	border-radius: 4px;
	-webkit-transition: background-color .1s ease-out, border-color .1s ease-out, color .1s ease-out;
}

li a#sign-up:hover {
	border: 1px solid none;
}

#container {
	position: absolute;
	top: 0;
	width: 100%;
	max-width: 1500px;
}

h1 {
	display: inline-block;
	vertical-align: middle;;
	margin: 0;
}

h1 img {
	width: 200px;
}

#nav-menu-container {
	width: 70%; height: 100px;
	float: right;
}

#nav-menu {
	padding-left: 0;
	margin: 0;
	list-style-type: none;
	float: right;
	line-height: 53px;
}

#nav-menu li {
	padding: 0 15px;
	margin: 0;
	display: inline-block;
	float: left;
}

#nav-menu a {
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 1px;
	padding-bottom: 5px;
	line-height: 1em;
}

#nav-menu a:hover {
	border-bottom: 3px solid #89af3e;
}

#content {
	width: 100%;
	padding-top: 93px;
}

#intro {
	background-image: url(/img/owner-cling.jpg);
	background-size: cover;
	width: 100%;
	height: calc(100vh - 93px);
	position: relative;
}

#email-list-box {
	position: absolute;
	width: 351px; height: 327px;
	top: 50%; left: 15%;
	margin-top: -164px; 
	background-color: white;
	border-radius: 8px;
	padding: 40px;
}

#email-list-box h2 {
	text-transform: uppercase;
	font-size: 1.2em;
	margin: 0;
	letter-spacing: 1px;
	text-align: center;
}

#email-list-box form {
	line-height: 3em;
	text-align: center;
}

#email-list-box button {
	margin-top: 20px;
}

#join-email-list input {
	border: 1px solid rgb(199, 199, 199);
	background-color: rgb(235, 235, 235);
	padding: 5px 8px;
	color: black;
	width: 100%;
}

#carousel {
	border-top: 14px solid rgb(76, 118, 38);
	border-bottom: 14px solid rgb(76, 118, 38);
}

.step {
	height: 300px;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.step:after {
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
}

.step h3 {
	font-size: 2.8em;
	color: rgb(55, 108, 0);
	font-weight: lighter;
	text-transform: uppercase;
}

.step:nth-child(odd) {
	background-color: rgb(235, 235, 235);
}

#path .left, #path .right {
	width: 50%;
	height: 100%;
}

#path .left {
	border-right: 3px solid rgb(196, 216, 163);
	float: left;
	padding-right: 40px;
}

#path .right {
	border-left: 3px solid rgb(196, 216, 163);
	float: right;
	padding-left: 40px;
}

#path .left p, #path .left h3 {
	text-align: right;
}

#path .right p, #path .right h3 {
	text-align: left;
}

#the-network h3 {
	text-transform: uppercase;
	font-size: 2.6em;
	color: rgb(88, 125, 69);
	background-color: white;
	width: 450px; margin: 0 auto;
	text-align: center;
	line-height: 1.2em;
	font-weight: 500;
}

#core-services {
	background-color: rgb(196, 216, 163);
}

#services {
	width: 50%;
	margin: auto;
	height: 400px;
}

#services:after {
	content : "";
	display: block;
	clear: both;
	overflow: hidden;
}

#services h3 { 
	margin-top: 0; 
	margin-bottom: 10px;
	text-transform: uppercase;
	color: rgb(82, 123, 61);
	font-weight: 200;
}

#services p { 
	margin: 0; 
	font-weight: 100;
}

#core-services .left {
	width: 60%;
	float: left;
	height: 100%;
}

#core-services .left > div {
	height: 33%;
	padding: 40px;
}

#core-services .right {
	width: 40%;
	float: right;
	height: 100%;
}

#core-services .right > div {
	height: 50%;
	padding: 20px;
}

#ithaca-dollars { background-color: white; }
#ithacash-online { background-color: rgb(220, 221, 223); }
#txt2pay { background-color: rgb(230, 231, 233); }
#network-of-trust { background-color: rgb(235, 235, 235); }
#payitfwd { background-color: rgb(210, 211, 213); }

#accounts {
	white-space: nowrap;
	overflow: hidden;
}

#accounts ul {
	margin: 0; padding: 0;
	text-transform: uppercase;
	list-style-type: none;
	color: rgb(82, 123, 61);
	width: 33%;
	text-align: right;
	float: left;
	height: 400px;
}

#accounts li {
	height: 25%;
	background-color: rgb(225, 225, 225);
}

#accounts li:hover {
	cursor: pointer;
}

#accounts li.selected::after {
	content: "";
	display: inline-block;
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent; 
	
	border-right: 25px solid rgb(235, 235, 235);

	position: relative;
	bottom: 76px;
}

#accounts h3 {
	font-weight: 200;
	border-bottom: 2px solid white;
	padding: 40px 0;
	margin: 0 40px;
}

#accounts li:last-of-type h3 {
	border: none;
}

#account-info {
	width: 67%;
	height: 400px;
	float: right;
	background-color: rgb(235, 235, 235);
}

#account-info > div { display: none; }
#account-info > div#individual-info { display: block; }