#nav-menu, #intro p.caption { display: none; }

#intro {
	background-image: none;
	height: 100vh;
	padding: 0;
	background-color: rgb(195, 214, 161);
}

header {
	padding: 0;
	background-color: transparent;
	background-color: rgb(195, 214, 161);
	position: relative;
}

h1 {
	display: block;
	width: 80%;
	margin: auto;
	text-align: center;
	background-color: white;
	border-radius: 8px 8px 0 0;
	position: absolute;
	top: 50%; margin-top: -26px;
}

#content {
	padding: 0;
}

#email-list-box {
	width: 80%;
	margin: 0 auto;
	position: relative;
	left: 0; top: 0;
	border-radius: 0 0 8px 8px;
}

