strong, b {
  color: $dark-green;
}

mark {
  background-color: $light-green;
  color: $white;
}

.dark-green-background {
  background-color: $dark-green;
  color: $white;
}

.dark-green-background strong, .dark-green-background b, .dark-green-background h2 {
    color: $white;
}

.light-green-background {
  background-color: $light-green;
  color: $white;
}

.light-green-background strong, .light-green-background b, .light-green-background h2 {
    color: $white;
}

.white-background {
    background-color: $white;
    color: $medium-gray;
}

.white-background h2 {
    color: $light-green;
}

.white-background strong, .white-background b {
    color: $dark-gray;
}

.dark-gray-background a {
    color: $light-gray;
}

.white-background h2 strong, .white-background h2 b {
    color: inherit;
}
