.right {
    width: 50%;
    float: right;
    display: inline-block;
}

.dark-green-background {
  background-color: $dark-green;
  color: $white;
}

.light-green-background {
  background-color: $light-green;
  color: $white;
}

#invigorating-our-economy {
    background-image: url("/static/img/front/img_tompkins_map.jpg");
    background-repeat: no-repeat;
    background-size: 55%;
    position: relative;
}

.angled-box {
    margin: 0;
    position: absolute;
    padding: 0 10px;
}

.angled-box-26 {
    height: 26px;
}

header .angled-box {
    width: 200px; height: 20px;
    background-color: white;
    bottom: -16px; left: 0;
}

#invigorating-our-economy .angled-box {
    position: absolute;
    top: -26px; right: 30%;
    margin-right: 26px;
    padding-left: 20px;
    padding-right: 30px;
    background-color: rgba(0,0,0,.3);
}

#invigorating-our-economy .angled-box::before {
    content: url(/static/img/angle_26_trans-50.png);
    position: absolute;
    left: -26px; top: 0;
}

.angled-header {
    text-transform: uppercase;
    padding-top: 2px;
    font-weight: 400;
}

#invigorating-our-economy .angled-header {
    background-color: rgb(140, 170, 69);
    position: absolute;
    top: -26px;
    right: 0;
    height: 26px;
    padding-left: 10px;
    text-align: left;
    width: 30%;
    letter-spacing: 1px;
}
#invigorating-our-economy .angled-header::before {
    content: url(/static/img/angle_26_50-lightgrn.png);
    position: absolute;
    left: -26px;
    top: 0;
}

#invigorating-our-economy .angled-border {
    height: 26px;
    width: 20%;
    background-color: rgb(140, 170, 69);
    outline: 1px solid red;
    position: absolute;
    right: 0; top: 0;
}

#how-it-works {
    position: relative;
}

#how-it-works .angled-header {
    background-color: white;
    position: absolute;
    top: -22px;
    right: 0;
    padding-right: 10px;
    text-align: left;
    width: 80%;
    letter-spacing: 1px;
    color: rgb(92, 117, 44);
}
#how-it-works .angled-header::before {
    content: url(/static/img/angle_26_trans-white-bottom-right.png);
    position: absolute;
    left: -26px;
    top: 0;
}

#how-it-works .angled-footer {
    background-color: white;
    position: absolute;
    bottom: -26px;
    height: 26px;
    left: 0;
    width: 50%;
    letter-spacing: 1px;
    z-index: 10;
}

#how-it-works .angled-footer::after {
    content: url('/static/img/angle_26_trans-white-top-left.png');
    position: absolute;
    right: -26px;
    top: 0;
}

#who-uses-it {
    background-image: url(/static/img/homegreenhome-background.jpg);
    background-size: cover;
    background-position: 0% 50%;
    position: relative;
}

#who-uses-it .angled-header {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    text-align: left;
    width: calc(50% - 46px);
    letter-spacing: 1px;
    color: $white;
    height: 26px;
}
#who-uses-it .angled-header::before {
    position: absolute;
    right: -26px;
    top: 0;
}

#who-uses-it h2 { margin: 0; }

#who-uses-it .left > h2 {
    font-size: 1.8em;
    color: white;
    line-height: 1.4em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
}

#who-uses-it h2 strong {
    font-size: 2em;
}

#intro-controls {
    position: absolute;
    bottom: -41px;
    left: 100px;
    z-index: 100;
}

#intro-controls input {
    float: right;
}

ul.slick-dots {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 180px;
    margin: 0;
    padding: 0;
    z-index: 100;
}

ul.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

ul.slick-dots li::before {
    content: none;
}

ul.slick-dots li button {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 3px;
    padding: 0;
    color: white;
    transition: transform .3s ease-in-out;
    transform: rotate(0);
    font-size: .1em;
}

ul.slick-dots li.slick-active button {
    background-color: $light-green;
    color: $light-green;
    transition: transform .3s ease-in-out;
    transform: rotate(45deg);
}

#intro {
    width: 100%;
    height: calc(100vh - 175px);
    position: relative;
    white-space: nowrap;
}

#intro .banners .container {
    height: 100%;
}

#intro p.caption {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    display: inline-block;
    margin: 0;
    padding: 10px;
    border-radius: 8px 0 0 0;
    line-height: 1em;
}

div.banners, div.slick-list.draggable, div.slick-track {
    height: 100%;
    position: relative;
}

.banner {
    background-image: url(../img/owner-cling.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: inline-block;
    white-space: normal;
}

.box.left {
    position: absolute;
    width: 432px;
    margin-top: -175.5px;
    top: 45%; left:0 ;
    padding: 30px;
}

.box.right {
    position: absolute;
    width: 432px;
    margin-top: -175.5px;
    top: 45%; right:0 ;
    padding: 30px;
}

.box h2 {
    margin: 0;
    letter-spacing: 1px;
    color: white;
}

#email-list-box form {
    line-height: 3em;
    text-align: center;
}

#email-list-box button {
    margin-top: 20px;
}

#join-email-list input {
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(235, 235, 235);
    padding: 5px 8px;
    color: black;
    width: 100%;
}

footer .angled-header p {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

footer .angled-header a {
    text-decoration: none;
    font-weight: bold;
}
