#nav-home {
    display: inline-block;
    background-color: white;
    float: left;
    margin: 0;
    position: relative;
}

#nav-menu ul li#nav-get-started a, #nav-menu ul li#nav-login a {
    color: white;
    line-height: 1em;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: .8em;
    vertical-align: top;
    font-weight: 200;
}

#nav-menu ul li#nav-get-started a:hover, #nav-menu ul li#nav-login a:hover {
    border: none;
}

// h1 {
//     display: inline-block;
//     vertical-align: middle;
//     margin-top: 0;
//     margin-bottom: 10px;
// }

h1 img {
    width: 220px;
}

#nav-menu {
    font-family: $mavenpro;
}

#nav-menu ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    float: right;
    width: 750px;
}

#nav-menu ul li ul {
    // box-shadow: 4px 4px 10px rgba(0, 0, 0, .6);
}

/*#nav-menu > ul > li:first-of-type::before {
    content: url(/static/img/nav/angle_18_header_white-trans.png);
    position: absolute;
    bottom: -16px;
    left: -27px;
    height: 18px;
    z-index: 20;
}*/

#nav-menu li {
    padding: 0 5px 10px 5px;
    margin: 0;
    display: inline-block;
    position: relative;
}

#nav-menu li::before { content: none; }

#nav-menu ul a, #nav-home a {
    text-decoration: none;
    color: $dark-gray;
    text-align: center;
    font-size: .85em;
    font-weight: 600;
    padding-bottom: 5px;
    line-height: 1em;
    vertical-align: bottom;
}

/* Level 1 */
#nav-menu ul li { position: relative; }
#nav-menu ul li:hover {
    background-color: rgb(232, 240, 217);
}

/* Level 2 */
#nav-menu ul li > ul { display: none; }
#nav-menu ul li > ul {
    position: absolute;
    left: -154px;
    top: 30px;
    float: none;
    width: 275px;
    background-color: rgb(232, 240, 217);
    border-top: 2px solid rgb(167, 195, 110);
    padding: 20px 0;
}
#nav-menu ul li ul li {
    display: block;
    padding: 13px 15px 13px 40px;
    line-height: 1em;
    position: relative;
    font-weight: 500;
}
#nav-menu ul li ul li:after {
    content: "\276F";
    float: right;
    color: white;
    font-size: 1.3em;
    font-weight: 100;
}
#nav-menu ul li ul li:hover {
    color: black;
    font-weight: 600;
    background-color: white;
}
#nav-menu ul li ul li:hover:after {
    content: "\276F";
    float: right;
    color: rgb(188, 212, 99);
}


/* Level 3 */
#nav-menu ul > li > ul > li > ul { display: none; }
#nav-menu ul > li > ul > li:hover > ul, #nav-menu > ul > li > ul > li > ul:hover{
    display: block;
    position: absolute;
    left: 275px;
    top: -67px;
    width: 300px;
    background-color: white;
    padding: 20px;
    overflow: scroll;
}
#nav-menu ul li ul li ul li {
    font-weight: 500;
    border-bottom: 2px solid rgb(235, 235, 235);
    color: rgb(106, 106, 106);
    padding: 12px 0 13px 0;
    line-height: 1em;
    position: relative;
}
#nav-menu ul li ul li ul li {

    a {
        display: block;
        text-align: left;
    }

    &:hover {
        border-bottom: 2px solid $light-gray;
    }

    &:hover a {
        color: $black;
        text-align: left;
    }

    &:after, &:hover:after {
        content: none;
        float: none;
    }
}


/* Level 4 */
#nav-menu ul li ul li ul li ul, #nav-menu ul li ul li ul li:hover ul {
    display: none;
    position: relative;
    float: none;
    padding: 20px 0 0 10px;
    left: 0; top: 0;
    width: auto;
    background-color: white;
    font-size: .9em;
    font-weight: 200;
    box-shadow: none;
}
#nav-menu ul li ul li ul li ul li {
    padding: 5px 0;
    border: none;
}
#nav-menu ul li ul li ul li ul li:after {

}
#nav-menu ul li ul li ul li ul li:hover {
    border-bottom: none;
    font-weight: 500;
}
#nav-menu ul li ul li ul li::after > ul {
    content: "blah";
}

#nav-get-started,
#nav-login {
    float: right;

    a {
        vertical-align: top;
    }
}

header .angled-footer {
    background-color: white;
    height: 18px;
    width: 30%;
    position: absolute;
    bottom: -18px; left: 0;
}

header .angled-footer::after {
    content: url(/static/img/nav/angle_18_header_white-trans.png);
    position: absolute;
    right: -18px;
}

#nav-menu ul li#nav-get-started a, #nav-menu ul li#nav-login a {
    color: white;
    line-height: 1em;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: .8em;
    vertical-align: top;
    font-weight: 200;
}

#nav-menu ul li#nav-get-started a:hover, #nav-menu ul li#nav-login a:hover {
    border: none;
}

h1 img {
    width: 220px;
}

#header-contact {
    position: absolute;
    margin: auto;
    text-align: right;
    top: 0;
    width: 1000px;
}

#header-contact p {
    display: inline-block;
    font-size: .9em;
    margin: 0 10px;
}

#header-contact p:first-of-type {
    font-style: italic;
}

#header-contact p:nth-of-type(2) {
    color: green;
}

#header-contact p:nth-of-type(3) a {
    color: gray;
}
