html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: $light-green;
}

.logo {
  width: 250px;
}

.mark-tiny {
  width: 25px;
}

.mark-small {
  width: 50px;
}

.mark-medium {
  width: 100px;
}

.mark-large {
  width: 200px;
}

.angled-cta-left,
.angled-cta-right {
  text-transform: uppercase;
  position: relative;
  font-size: 14px;
  color: white;

  a {
    color: $white;
    line-height: 30px;
    text-decoration: none;
    height: 30px;
    display: block;
  }

  &.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.angled-cta-left a {
  padding: 0 20px 0 10px;
}

.angled-cta-right a {
  padding: 0 40px 0 20px;
}

.angled-cta-left {

    a::before {
      position: absolute;
      left: -31px;
    }

    &.dark-green-background a::before {
        content: url("/static/img/cta_digonal_trans-darkgrn.png");
    }

    &.light-green-background a::before {
        content: url("/static/img/cta_digonal_trans-lightgrn.png");
    }
}

.angled-cta-right a::before {
  content: url("/static/img/angle_26_trans-white-bottom-right.png");
  position: absolute;
  right: 0;
  width: 26px;
  height: 26px;

}

.link-cta {
  text-decoration: none;
  position: relative;
  padding-left: 20px;

  &::before {
      content: ">";
      position: absolute;
      left: 0;
      transition: all .15s ease-out;
  }

  &:hover::before {
      left: 5px;
  }
}
