$light-gray: rgb(240, 240, 240);
$medium-gray: rgb(140, 140, 140);
$dark-gray: rgb(102, 102, 102);
$pale-green: rgb(232, 240, 217);
$light-green: rgb(140, 170, 69);
$dark-green: rgb(78, 116, 23);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$panfresco: "Panfresco", Helvetica, Arial, sans-serif;
$opensans: "Open Sans", Helvetica, Arial, sans-serif;
$mavenpro: "Maven Pro", Helvetica, Arial, sans-serif;
