*.pyc
*.csv
*.sqlite3
*ithacash/settings/ignore.py
ithacash/settings/secrets/*

pages/media

ops/ssl
.idea
db.sqlite3

utils/front-end/node_modules/
utils/front-end/img/

pages/media/

.sass-cache
*.lock
utils/front-end/temp/
*.map
