*.pyc
*.csv
*.sqlite3
*ithacash_dev/settings/ignore.py
ithacash_dev/settings/secrets/*

ops/ssl
.idea
db.sqlite3

utils/front-end/node_modules/

ithacash_dev/static/css/ithacash.css
ithacash_dev/static/js/ithacash.js
.sass-cache
*.lock
utils/front-end/temp/
*.map
