#nav-home {
    display: inline-block;
    background-color: white;
    float: left;
    margin: 0;
    position: relative;
}

#nav-menu ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    float: right;
}

#nav-menu ul li ul {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .6);
}

/*#nav-menu > ul > li:first-of-type::before {
    content: url(/static/img/nav/angle_18_header_white-trans.png);
    position: absolute;
    bottom: -16px;
    left: -27px;
    height: 18px;
    z-index: 20;
}*/

#nav-menu li {
    padding: 0 5px 8px 5px;
    margin: 0;
    display: inline-block;
    position: relative;
}

#nav-menu ul a, #nav-home a {
    text-decoration: none;
    color: rgb(96, 96, 96);
    text-align: center;
    font-size: .85em;
    font-weight: 600;
    padding-bottom: 5px;
    line-height: 1em;
    vertical-align: bottom;
}

#nav-menu ul a:hover {
    border-bottom: 3px solid #89af3e;
}

#nav-menu > ul > li#nav-how-it-works a:hover {
    border: none;
}

/* Level 1 */
#nav-menu ul li { position: relative; }
#nav-menu ul li:hover {
    background-color: rgb(232, 240, 217);
}

/* Level 2 */
#nav-menu ul li > ul { display: none; }
#nav-menu ul li > ul { 
    position: absolute;
    left: -154px;
    top: 30px;
    float: none;
    width: 275px;
    background-color: rgb(232, 240, 217);
    border-top: 2px solid rgb(167, 195, 110);
    padding: 20px 0;
    font-size: .9em;
}
#nav-menu ul li ul li {
    display: block;
    padding: 13px 15px 13px 40px;
    line-height: 1em;
    position: relative; 
    font-weight: 500;
}
#nav-menu ul li ul li:after {
    content: "\276F";
    float: right; 
    color: white;
    font-size: 1.3em;
    font-weight: 100;
}
#nav-menu ul li ul li:hover {
    color: black;
    font-weight: 600;
    background-color: white;
}
#nav-menu ul li ul li:hover:after {
    content: "\276F";
    float: right; 
    color: rgb(188, 212, 99);
}


/* Level 3 */
#nav-menu ul > li > ul > li > ul { display: none; }
#nav-menu ul > li > ul > li:hover > ul, #nav-menu > ul > li > ul > li > ul:hover{
    display: block;
    position: absolute;
    left: 275px;
    top: -65px;
    width: 300px;
    background-color: white;
    padding: 20px;
    font-size: 1em;
    overflow: scroll;
}
#nav-menu ul li ul li ul li {
    font-weight: 500;
    border-bottom: 2px solid rgb(235, 235, 235);
    color: rgb(106, 106, 106);
    padding: 12px 0 13px 0;
    line-height: 1em;
    position: relative;
}
#nav-menu ul li ul li ul li:hover {
    border-bottom: 2px solid rgb(235, 235, 235);
    font-weight: 500;
}
#nav-menu ul li ul li ul li a:hover {
    border-bottom: 2px solid rgb(235, 235, 235);
    font-weight: 500;
}
#nav-menu ul li ul li ul li:after, #nav-menu ul li ul li ul li:hover:after {
    content: none;
    float: none; 
}


/* Level 4 */
#nav-menu ul li ul li ul li ul, #nav-menu ul li ul li ul li:hover ul { 
    display: none;
    position: relative;
    float: none;
    padding: 20px 0 0 10px;
    left: 0; top: 0;
    width: auto;
    background-color: white;
    font-size: .9em;
    font-weight: 200;
    box-shadow: none;
}
#nav-menu ul li ul li ul li ul li {
    padding: 5px 0;
    border: none;
}
#nav-menu ul li ul li ul li ul li:after {
    
}
#nav-menu ul li ul li ul li ul li:hover {
    border-bottom: none;
    font-weight: 500;
}
#nav-menu ul li ul li ul li::after > ul {
    content: "blah";
}

#nav-get-started a, #nav-login a {
    vertical-align: top;
}

header .angled-footer {
    background-color: white;
    height: 18px;
    width: 30%;
    position: absolute;
    bottom: -18px; left: 0;
}

header .angled-footer::after {
    content: url(/static/img/nav/angle_18_header_white-trans.png);
    position: absolute;
    right: -18px;
}