@font-face {
  font-family: 'Panfresco';
  src: url('/static/fonts/panfresco-250-regular.eot'); /* IE9 Compat Modes */
  src: url('/static/fonts/panfresco-250-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/panfresco-250-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/static/fonts/panfresco-250-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/panfresco-250-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$dark-gray: rgb(102, 102, 102);
$light-green: rgb(142, 176, 55);
$dark-green: rgb(78, 116, 23);

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 200 18px/1.6em "Maven Pro", Helvetica, Arial, sans-serif;
  color: $dark-gray;
}

a {
  color: $light-green;
}

h1 img {
  width: 220px;    
}

h2 {
  font-family: 'Panfresco', Helvetica, Arial, sans-serif;
  font-size: 2.6rem;
  line-height: 1em;
  font-weight: 200;
  margin: 0;
  color: $light-green;
}

strong {
  color: $dark-green;
}

.angled-link {
    content: url('/static/img/cta_digonal_grn-trans.png');
    position: absolute;
    left: 0; top: 0;
}
