start on static-network-up
stop on shutdown

console log
respawn

setuid {{app_user}}
setgid {{app_group}}

script
    env PYTHONPATH={{manage_path}}
    env NEW_RELIC_CONFIG_FILE={{manage_path}}/ops/ansible/playbooks/roles/app/templates/newrelic.ini
    cd {{manage_path}}
    . {{venv_path}}/bin/activate
    exec newrelic-admin run-program hx start {{hendrix_opts}}
end script