{% extends 'subpage.html' %}

{% block heading %}There was an error!{% endblock heading %}

{% block article %}
<h2>We couldn&rsquo;t find what you&rsquo;re looking for!</h2>

<p>Please check the URL of the page that you tried to access.</p>
<p>We have automatically been notified of this issue. To reach out to us directly, please call (888) 645–2409 or email <a href="mailto:support@ithacash.com">support@ithacash.com</a>.</p>

<p style="font-size: small; font-style: italic;">Error reference number: {{ request.sentry.id }}</p>
{% endblock article %}
