{% extends 'head-foot.html' %}
{% load staticfiles %}

{% block head %}
<style>

	body, html { min-height: 100%; }

	#container { min-height: 100%; }
	header {
		position: relative;
    display: none;
	}

	#content {
		padding-top: 0;
		color: white;
		font-size: 1.2em;
		width: 100%;
		min-height: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	#nav-menu { display: none; }

	#head {
		background-image: url({% static 'img/hex-pattern.png' %});
		background-size: cover;
		height: 200px;
	}

	h2 {
		color: white;
		margin: 60px 0;
	}

	#sign-up-path {
		text-align: center;
		border-bottom: 2px solid rgb(88, 122, 70);
		height: 65px;
		padding: 20px 0 20px 0;
		margin-bottom: 60px;
	}

	.sign-up-step {
		width: 25%;
		float: left;
		position: relative;
		top: 5px;
	}

	.step-heading {
		color: rgb(88, 122, 70);
		font-size: 1em;
		margin: 0;
		transition: all 1s ease;
	}

	.circle {
		background-color: rgb(88, 122, 70);
		border-radius: 50%;
		width: 40px; height: 40px;
		text-align: center;
		color: white;
		font-size: 1.2em;
		line-height: 40px;
		display: inline-block;
		transition: all 1s ease;
	}

	.sign-up-step.selected {
		top: 0;
	}

	.sign-up-step.selected .step-heading {
		font-size: 1.2em;
	}

	.sign-up-step.selected .circle {
		width: 50px; height: 50px;
		font-size: 1.6em;
		line-height: 50px;
	}

	#forms {
		width: 300%;
		min-height: 100%;
		white-space: nowrap;
		overflow: hidden;
		background-color: rgb(119, 173, 89);
	}

	form { min-height: 100%; }

	form > div {
		min-height: 100%;
		padding: 20px 0;
		text-align: center;
		transition: all 1s ease;
		width: 33%;
		right: 0;
		position: relative;
		float: left;
	}

	form p {
		margin: 20px auto;
		width: 20em;
	}

	form p:last-of-type {
		margin-top: 40px;
	}

	input[type=text], input[type=email], input[type=text]:focus, input[type=email]:focus {
		text-align: center;
		background-color: white;
		border-radius: 8px;
		padding: 10px 15px;
		border: none;
		width: 20em;
		font-size: 1em;
		outline: none;
	}

	input[type=checkbox] {
		float: left;
		vertical-align: middle;
	}

	.two-inputs input {
		width: 9em;
	}

	.two-inputs input:first-of-type {
		margin-right: 25px;
	}

	::-webkit-input-placeholder {
	   color: #999;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #999;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #999;
	}

	:-ms-input-placeholder {
	   color: #999;
	}

	.asterisk {
		color: white;
		font-size: 1.8em;
		margin-left: 10px;
	}

	button {
		background-color: white;
		padding: 5px 40px;
		border: none;
		color: black;
		border-radius: 8px;
		font-size: 1.6em;
	}

	#review button {
		border: none;
		background-color: transparent;
		color: white;
		padding: 0;
		font-size: 1em;
	}

	table {
		background-color: rgb(107, 155, 80);
		width: 50%;
		margin: 20px auto;
		border-collapse: collapse;
		text-align: left;
		font-size: 1.2em;
	}

	th, td {
		padding: 10px 40px;
	}

	td {
		vertical-align: top;
	}

	thead {
		background-color: rgb(111, 162, 83);
	}

	th {
		font-weight: normal;
		font-size: 1.2em;
	}

	thead td { text-align: right; }

	td:nth-of-type(2) { text-align: right; }

	input[type=radio] {
		background-color: #333;
	}

	.slide1 {
		right: 33%;
	}

	.slide2 {
		right: 66%;
	}

	.slide3 {
		right: 99%;
	}
</style>
{% endblock %}

{% block content %}
<div id="content">

<!-- <div id="head"></div> -->

<div id="sign-up-path" class="clear">
	<div id="sign-up-1" class="selected sign-up-step">
		<div class="step-heading">Your Login</div>
		<div class="circle"><span>1</span></div>
	</div>
	<div id="sign-up-2" class="sign-up-step">
		<div class="step-heading">Your Info</div>
		<div class="circle">2</div>
	</div>
	<div id="sign-up-3" class="sign-up-step">
		<div class="step-heading">Your Billing</div>
		<div class="circle">3</div>
	</div>
	<div id="sign-up-4" class="sign-up-step">
		<div class="step-heading">Review</div>
		<div class="circle">4</div>
	</div>
</div>

<div id="forms">
	<form id="account" class="clear">
{% csrf_token %}

	<div id="login">
		<h2>Create Your Login</h2>

		<p>{{ form.login_name }}</p>
		<p>{{ form.email }}</p>
		<p>{{ form.email_confirm }}</p>

		<p><button type="button" class="next">Next</button></p>
	</div>

	<div id="info">

		<h2>Your Information</h2>

		<p>{{ form.business_name }}</p>
		<p>{{ form.contact_name }}</p>
		<p>{{ form.tin }}</p>
		<p>{{ form.address_1 }}</p>
		<p>{{ form.address_2 }}</p>
		<p class="two-inputs">{{ form.city }} {{ form.zip_code }}</p>
		<p>{{ form.state }}</p>
		<p>{{ form.landline_phone }}</p>
		<p><label>{{ form.txt2pay }} Enable TXT2PAY</label></p>
		<p><label>{{ form.txt2pay_phone }} Lease TXT2PAY Phone</label></p>
		<p>{{ form.mobile_phone }}</p>
		<p><input type="text" name="sig" placeholder="Electronic Signature"></input></p>

		<p><button type="button" class="next">Next</button></p>

	</div>

	<div id="review">
		<h2>Review Your Information</h2>

		<table>
			<thead>
				<tr>
					<th>Account Type: <strong>Business</strong></th>
					<td><button>edit</button></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Monthly Billing</td>
					<td><label>$35 + i$15/mo <input type="radio" name="billing-freq" value="monthly" selected></label></td>
				</tr>
				<tr>
					<td>Semi-Annually Billing</td>
					<td><label>$30 + i$15/mo <input type="radio" name="billing-freq" value="semi-annuual"></label></td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<th>Login Information</th>
					<td><button>edit</button></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Username</td>
					<td><span id="review-login_name"></span></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><span id="review-email"></span></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><span id="review-password"></span></td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<th>Business Information</th>
					<td><button>edit</button></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Business Name</td>
					<td><span id="review-business_name"></span></td>
				</tr>
				<tr>
					<td>Contact Name</td>
					<td><span id="review-contact_name"></span></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><span id="review-address_1"></span><br><span id="review-address_2"></span></td>
				</tr>
				<tr>
					<td>TIN</td>
					<td><span id="review-tin"></span></td>
				</tr>
				<tr>
					<td>Contact Number</td>
					<td><span id="review-landline_phone"></span></td>
				</tr>
				<tr>
					<td>Enable TXT2PAY</td>
					<td><span id="review-txt2pay"></span></td>
				</tr>
				<tr>
					<td>Lease TXT2PAY Phone</td>
					<td><span id="review-txt2pay_phone"></span></td>
				</tr>
				<tr>
					<td>Mobile Number</td>
					<td><span id="review-mobile_number"></span></td>
				</tr>
			</tbody>
		</table>
		<table>
				<thead>
					<tr>
						<th colspan="2">Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Business</td>
						<td></td>
					</tr>
				</tbody>
		</table>
		</div>
	</div>
</form>
</div>

</div>
{% endblock %}

{% block foot %}
<script>
	$('button.next').click(function( event ) {

		// Login Info
		if ( $(this).parents('#login').length > 0 ) {
			$('form > div').addClass('slide1');
			$('#sign-up-1').removeClass('selected');
			$('#sign-up-2').addClass('selected');

			mapInputsToReview($('#login'));
		}

		// Contact Info
		else if ( $(this).parents('#info').length > 0 ) {
			$('form > div').addClass('slide2');
			$('form > div').removeClass('slide1');
			$('#sign-up-2').removeClass('selected');
			$('#sign-up-3').addClass('selected');

			mapInputsToReview($('#info'));
		}

		// Review Info
		else if ( $(this).parents('#review').length > 0 ) {
			$('form > div').addClass('slide3');
			$('form > div').removeClass('slide2');
			$('#sign-up-2').removeClass('selected');
			$('#sign-up-3').addClass('selected');
		}
	})

	function mapInputsToReview(div) {
		inputs = $('input', div);

		$(inputs).each(function() {
			name = $(this).attr('name');
			val = $(this).val();

			$('#review-' + name).text(val);

			if ( $(this).attr('type') == 'checkbox') {
				if ( $(this).is(':checked') ) { $('#review-' + name).html('&#10004;'); }
				else { $('#review-' + name).html('&#10008;'); }
			}
		})
	}
</script>
{% endblock %}
