{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" class="clear">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Money Made for Main St." />

        <title>{% block title %}Ithacash &mdash; Money Made for Main St.{% endblock %}</title>

        <link href='//fonts.googleapis.com/css?family=Maven+Pro:500,400,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'css/ithacash.css' %}">
        {% block styles %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{% static 'img/IthaCash_icon_2color.png' %}">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>if (!window.jQuery) { document.write('<script src="/static/js/jquery-1.11.3.min.js"><\/script>'); }</script>

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@ithacash">
        <meta name="twitter:title" content="Ithacash: Money Made for Main St.">
        <meta name="twitter:description" content="Money Made for Main St.">
        <meta name="twitter:creator" content="@ithacash">
        <meta name="twitter:image" content="https://ithacash.com/img/IthaCash_icon_2color.png">

        <!-- Open Graph data -->
        <meta property="og:title" content="Ithacash: Money Made for Main St." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://ithacash.com/" />
        <meta property="og:image" content="https://ithacash.com/img/IthaCash_icon_2color.png" />
        <meta property="og:description" content="Money Made for Main St." />
        <meta property="og:site_name" content="Ithacash" />

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-59984381-2', 'auto');
            ga('send', 'pageview');

        </script>

    </head>
    <body class="clear">

    <div id="container" class="clear">

        <header>
            {% block header %}{% endblock %}
        </header>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <footer>
            {% block footer %}{% endblock %}
        </footer>

    </div>

    {% block scripts %}{% endblock %}

    </body>
</html>
