{% extends 'base.html' %}

{% load staticfiles %}

{% block styles %}
<style>
    section {
      padding: 60px 0;
    }

    #how-it-works {
        padding: 0;
    }

    footer {
        margin-top: 0;
    }

    #who-uses-it {
        min-height: 600px;
    }

    #why-local-money {
        background-image: url({% static 'img/owner-cling.jpg' %});
    }

    #holiday-hunger-games {
        background-image: url({% static 'img/hungergames-presents.jpg' %});
        background-position: 0% 60%;
    }
</style>
{% endblock %}

{% block content %}

<div id="intro">

<div class="banners">
<!--<div id="holiday-hunger-games" class="banner">
    <div class="container">
        <div class="box light-green-background right">
            <h2 style="font-size: 35px;">Holiday Hunger Games</h2>
            <p class="prominent-graph"><b>Ithacash</b> is a regional benefit currency for Ithaca and Tompkins County. Every <b>Ithaca Dollar</b> spent becomes an immediate buy&ndash;local success. There&rsquo;s no catch. It&rsquo;s money that stays in our region by design, strengthening our local economy and meeting our community&rsquo;s needs, period.</p>
            <a href="/why-ithacash/" class="angled-cta-left bottom-right dark-green-background">Learn More</a>
        </div>
    </div>
</div>-->
<div id="why-local-money" class="banner">
    <div class="container">
        <div class="box light-green-background left">
            <h2>Why local money?</h2>
            <p class="prominent-graph"><b>Ithacash</b> is a regional benefit currency for Ithaca and Tompkins County. Every <b>Ithaca Dollar</b> spent becomes an immediate buy&ndash;local success. There&rsquo;s no catch. It&rsquo;s money that stays in our region by design, strengthening our local economy and meeting our community&rsquo;s needs, period.</p>
            <a href="/why-ithacash/" class="angled-cta-left bottom-right dark-green-background">Learn More</a>
        </div>
    </div>
</div>

</div>

<div class="container">
<div id="intro-controls"><input id="more-arrow" type="image" alt="Scroll down" src="{% static 'img/arrow_down_50.png' %}"></input></div>
</div>

<div style="position: absolute; left: 0; bottom: 0; color: black; font-style: italic; background-color: rgba(255, 255, 255, .4); font-size: .8em; padding: 3px 10px; border-radius: 4px 4px 0 0;">Photo by <a href="http://www.th-photo.com" style="color: black;" target="_blank">Tom Hoebbel</a></div>
</div>

<section id="invigorating-our-economy" class="light-green-background">
<div class="angled-box angled-box-26">Brett Bossard. Executive Director, Cinemapolis</div>
<div class="angled-header">Why Ithacash</div>
<div class="container">
    <div class="right">
        <h2>Invigorating Our Economy</h2>
        <p class="prominent-graph light-green-background">Money &ldquo;as usual&rdquo; isn't working. Businesses are struggling, families are having a hard time keeping up, and many people simply can&rsquo;t get their basic needs met. External financial forces take local profits out of the area and limit local reinvestment. <b>Ithacash plugs the leaks, fills the gaps, and provides local incentives</b> that keep our region thriving.</p>
        <a href="/how-it-works/" class="angled-cta-left bottom-right dark-green-background">Spending a Difference</a>
    </div>
</div>
</section>

<section id="how-it-works" class="white-background">
<div class="angled-header">How It Works</div>
<div class="container">
    <div id="carousel">

        <div id="left-arrow">
            <button class="carousel-button">
                <svg class="tri" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polygon points="15,0 15,20 0,10"></polygon>
                </svg>
            </button>
        </div>

        <div id="ithacash-arrow"><img src="{% static 'img/carousel/money-arrow.png' %}"></div>

        <div id="panels">
            <div class="panel" id="ind-to-ind-1">
                <div class="left">
                    <img src="{% static 'img/carousel/gardener.png' %}">
                </div>

                <div class="right">
                    <img src="{% static 'img/carousel/mom.png' %}">
                </div>

                <div class="center">
                    <h3>Individual to Individual</h3>
                    <p>Andre pays his friend&rsquo;s daughter Sarah in Ithaca Dollars for a few hours of babysitting...</p>
                </div>
            </div>

            <div class="panel" id="ind-to-biz">
                <div class="left">
                    <img src="{% static 'img/carousel/mom.png' %}">
                </div>

                <div class="right">
                    <img src="{% static 'img/carousel/business.png' %}">
                </div>

                <div class="center">
                    <h3>Individual to Business</h3>
                    <p>Sarah users her Ithaca Dollars to buy a beverage and small treat at a local cafe...</p>
                </div>
            </div>

            <div class="panel" id="biz-to-biz-1">
                <div class="left">
                    <img src="{% static 'img/carousel/business.png' %}">
                </div>

                <div class="right">
                    <img src="{% static 'img/carousel/photographer.png' %}">
                </div>

                <div class="center">
                    <h3>Business to Business</h3>
                    <p>The cafe&rsquo;s owners John and Dan hire Tom, a local photographer, to take photos for their new menu...</p>
                </div>
            </div>

            <div class="panel" id="biz-to-biz-2">
                <div class="left">
                    <img src="{% static 'img/carousel/photographer.png' %}">
                </div>

                <div class="right">
                    <img src="{% static 'img/carousel/mechanic.png' %}">
                </div>

                <div class="center">
                    <h3>Business to Business</h3>
                    <p>Tom uses his Ithaca Dollars to pay Al for some work on his car...</p>
                </div>
            </div>

            <div class="panel" id="biz-to-np">
                <div class="left">
                    <img src="{% static 'img/carousel/mechanic.png' %}">
                </div>

                <div class="right">
                    <img src="{% static 'img/carousel/dog.png' %}">
                </div>

                <div class="center">
                    <h3>Business to Nonprofit</h3>
                    <p>Al has a big heart for the local animal shelter. His donation of Ithaca Dollars is tax deductible, as usual.</p>
                </div>
            </div>

            <div class="panel" id="np-to-np-1">
                <div class="left">
                    <img src="{% static 'img/carousel/dog.png' %}">
                </div>

                <div class="right">
                    <img src="{% static 'img/carousel/workshop.png' %}">
                </div>

                <div class="center">
                    <h3>Nonprofit to Nonprofit</h3>
                    <p>The shelter&rsquo;s staff use Ithaca Dollars to take a course on modern fundraising strategies offered by Leslie.</p>
                </div>
            </div>

            <div class="panel" id="np-to-np-2">
                <div class="left">
                    <img src="{% static 'img/carousel/workshop.png' %}">
                </div>

                <div class="right">
                    <img src="{% static 'img/carousel/veggies.png' %}">
                </div>

                <div class="center">
                    <h3>Nonprofit to Nonprofit</h3>
                    <p>Leslie buys her team a share of a local Community Supported Agriculture (CSA) to share in the office from Aaron. </p>
                </div>
            </div>

            <div class="panel" id="np-to-ind">
                <div class="left">
                    <img src="{% static 'img/carousel/veggies.png' %}">
                </div>

                <div class="right">
                    <img src="{% static 'img/carousel/painter.png' %}">
                </div>

                <div class="center">
                    <h3>Nonprofit to Individual</h3>
                    <p>Aaron has been saving up to buy a new a piece of art. Luckily Ryan, his favorite local artist, accepts Ithaca Dollars for his work. </p>
                </div>
            </div>

            <div class="panel" id="ind-to-ind-2">
                <div class="left">
                    <img src="{% static 'img/carousel/painter.png' %}">
                </div>

                <div class="right">
                    <img src="{% static 'img/carousel/gardener.png' %}">
                </div>

                <div class="center">
                    <h3>Individual to Individual</h3>
                    <p>Ryan loves to travel, so he pays his friend Andre some Ithaca Dollars to take care of his garden while he’s away.</p>
                </div>
            </div>
        </div>

        <div id="right-arrow">
            <button class="carousel-button">
                <svg class="tri" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polygon points="0,0 15,10 0,20 "></polygon>
                </svg>
            </button>
        </div>
    </div>

    <div class="left">
        <h2>As Easy As Cash</h2>
        <p class="prominent-graph"><strong>Ithaca Dollars</strong> can be used anywhere they are accepted. You can pay via a simple text message, and send money via a free online account. Get an additional 25% Bonus when you purchase digital currency online or convert to paper currency at participating local stores (coming soon).</p>

         <p><a href="/how-it-works/different-than-hours/" class="cta-link">How is it different from Ithaca Hours<sup>&copy;</sup>?</a></p>
         <p><a href="/how-it-works/security/" class="cta-link">Security</a></p>

         <a href="/how-it-works/" class="angled-cta-left bottom-right dark-green-background">Learn More</a>
    </div>

    <div class="right">
        <h3>Paper Currency</h3>
        <p>In the coming months, hundreds of businesses will be accepting this new state&ndash;of&ndash;the&ndash;art paper currency, starting with the <b>i$1 and i$5</b>.</p>

        <p><a href="/how-it-works/security/" class="cta-link">Security</a></p>
        <p><a href="https://squareup.com/market/ithacash/ithaca-dollars" target="_blank" class="cta-link">Pre&ndash;order Ithaca Dollar bills</a></p>

        <h3>Online Accounts</h3>
        <p>Use our <b>secure digital currency</b> to make and take payments, just like any other third&ndash;party service. Using Ithacash means lower transacting fees, and automatically shows support for the local community.</p>

        <p><a href="/accounts/signup/" class="cta-link">Get a Free Account</a></p>
        <p><a href="https://squareup.com/market/ithacash/ithaca-dollars" target="_blank" class="cta-link">Purchase Ithaca Dollars and Get 25% More</a></p>

        <h3>TXT2PAY</h3>
        <p><b>Link any cell phone</b> (no smartphone required) to your online account, and send a secure payment with a standard text message. As easy as typing, no wallet necessary.</p>

        <p><a href="/txt2pay/" class="cta-link">As Easy As Typing</a></p>
    </div>
</div>
<div class="angled-footer"></div>
</section>

<section id="who-uses-it" class="light-green-background">
<div class="angled-header">Who Uses It</div>
<div class="container">

<div class="right white-background">
<h2>Marketplace Accepted</h2>
<p class="prominent-graph">Many local businesses, nonprofits, and community members are already using <b>Ithaca Dollars (i$)</b> to get the things they want and need. Locations currently accepting i$ can be viewed on our Directory.</p>

<p><img src="{% static 'img/img_window_cling.png' %}" style="float: left;"></p>

<a href="https://communities.cyclos.org/Ithacash/#users.users.search" class="angled-cta-left bottom-right dark-green-background" target="_blank">Directory</a>
</div>
</div>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/slick/slick.js' %}"></script>
{% endblock %}
