<style type="text/css">

	table {
		border-collapse: collapse;
	}

    td {
    	padding: 5px 10px;
        border: 2px solid black;
    }
</style>

<table align="center">
<thead>
	<tr>
		<th>Account Type</th>
		<th>Full Name</th>
		<th>Username</th>
</thead>
<tbody>
{% for account in accounts %}
    <tr>
        <td>{{ account.account_type }}</td>
        <td>{{ account.owner.full_name }}</td>
        <td>{{ account.owner.username }}</td>
        {# TODO: the rest of the fields #}
    </tr>
{% endfor %}
</tbody>
</table>