{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/page-creator.css' %}">
{% endblock %}

{% block header %}
<h1>Ithacash Page Creater</h1>
{% endblock %}

{% block content %}
<section>
<div class="container">
    <form method="POST" action="/page-creator/" class="standard-form">
            {{ form.sites }}
            <p>{{ form.url }} <span class="helptext-wrapper dark-gray-background"><span class="helptext">{{ form.url.help_text|safe }}</span></span></p>

            <p>{{ form.title }} <span class="helptext-wrapper dark-gray-background"><span class="helptext">{{ form.title.help_text|safe }}</span></span></p>

            <p>{{ form.template_name }} <span class="helptext-wrapper dark-gray-background"><span class="helptext">{{ form.template_name.help_text|safe }}</span></span></p>

            <p>{{ form.content }} <span class="helptext-wrapper dark-gray-background"><span class="helptext">{{ form.content.help_text|safe }}</span></span></p>

            <h3>Styling elements</h3>

            <div id="styling-elements">
                <div class="styling-element">
                    <a>link</a>
                    <span><a href=""></a></span>
                </div>

                <div class="styling-element">
                    <h3>Subheading</h3>
                    <span><h3></h3></span>
                </div>

                <div class="styling-element">
                    <a class="cta-link">CTA link</a>
                    <span><a class="cta-link" href=""></a></span>
                </div>

                <div class="styling-element">
                    <strong>bold text</strong>
                    <span><strong></strong></span>
                </div>

                <div class="styling-element">
                    <i>italic text</i>
                    <span><i></i></span>
                </div>
            </div>

            <p><button>Create</button></p>
        </div>
    </form>
</div>
</section>
{% endblock %}

{% block scripts %}
<script>
$.fn.extend({
insertAtCaret: function(myValue){
  return this.each(function(i) {
    if (document.selection) {
      //For browsers like Internet Explorer
      this.focus();
      var sel = document.selection.createRange();
      sel.text = myValue;
      this.focus();
    }
    else if (this.selectionStart || this.selectionStart == '0') {
      //For browsers like Firefox and Webkit based
      var startPos = this.selectionStart;
      var endPos = this.selectionEnd;
      var scrollTop = this.scrollTop;
      this.value = this.value.substring(0, startPos)+myValue+this.value.substring(endPos,this.value.length);
      this.focus();
      this.selectionStart = startPos + myValue.length;
      this.selectionEnd = startPos + myValue.length;
      this.scrollTop = scrollTop;
    } else {
      this.value += myValue;
      this.focus();
    }
  });
}
});

$('.styling-element').click(function() {
    $('#id_content').insertAtCaret($('span', this).html());
});
</script>
{% endblock %}
