{% extends 'head-foot.html' %}
{% load staticfiles %}

{% block head %}
<style>
    header {
        position: relative;
    }

    #content {
        padding-top: 0;
    }

    #nav-menu { display: none; }

    #head {
        background-image: url({% static 'img/hex-pattern.png' %});
        background-size: cover;
        padding: 50px 0;
        text-align: center;
        color: white;
        margin-bottom: 40px;
    }

    h2 {
        color: white;
        margin: 0;
    }

    h3 {
        font-size: 2.2em;
        line-height: normal;
        margin-top: 0;
    }

    h4 {
        font-size: 1.4em;
        line-height: normal;
        margin-top: 0;
    }

    #bonus_offer, #purchase_ithaca_dollars {
        padding: 40px 20px;
        color: white;
        font-size: 1.2em;
        background-color: #78AC54;
    }

    #bonus_offer {
        width: 30%;
        float: left;
        border-radius: 0 30px 30px 0;
    }

    #purchase_ithaca_dollars {
        border-radius: 30px 0 0 30px;
        width: 45%;
        float: right;
    }

    .paypal {
        padding: 5px 10px;
        line-height: 1em;
        color: #777;
        font-size: 1.2em;
        border-radius: 10px;
        border: none;
        background-color: #ddd;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }

</style>
{% endblock %}

{% block content %}
<div id="content">

<div id="head">
    <h2>Purchasing i$</h2>
    <p>Start using your local money by converting your US$ into i$ and get 25% Bonus for every dollar you switch.</p>
</div>

<div id="bonus_offer">
    <h4>Extra Bonus Offer</h4>

    <p>(only available until Month, Day, YR) Convert now and get an added XX% Bonus on your purchase</p>
    <p><label><input type="checkbox" name="bonus_offer"> Yes, please increase my conversion amount by XX%</label></p>
</div>

<div id="purchase_ithaca_dollars">
    <h3>Purchase i$</h3>
    <p>Checkout with <button class="paypal">PayPal</button></p>
</div>

</div>
{% endblock %}
