{% extends 'head-foot.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'account/css/account.css' %}">
{% endblock %}

{% block content %}
<div id="content">

    <div id="sign-up-path" class="clear">
        <svg>
            <line x1="0" y1="0"
              x2="100%" y2="0"
              stroke="rgb(119, 173, 89)"
              stroke-width="6px"/>
        </svg>
        <div id="sign-up-1" class="sign-up-step">
            <div class="step-heading">Your Email</div>
            <div class="circle"><span>1</span></div>
        </div>
        <div id="sign-up-2" class="sign-up-step">
            <div class="step-heading">Your Info</div>
            <div class="circle">2</div>
        </div>
        <div id="sign-up-3" class="sign-up-step selected">
            <div class="step-heading">Review</div>
            <div class="circle">3</div>
        </div>
    </div>

<div id="review">

    <h2>Review Your Information</h2>
        <form id="billing_frequency" action="" method="POST">{% csrf_token %}
        <input type="hidden" name="account_owner" value="{{ account.owner }}">
        <table>
            <thead>
                <tr>
                    <th>Account Type: <strong>{{ account.account_type }}</strong></th>
                    <td><a href="/accounts/create_account/{{ email_object.most_recent_confirmation_key}}" class="edit">edit</a></td>
                </tr>
            </thead>{% if account.account_type != 'Individual' %}
            <tbody>
                <tr>
                    <td>Monthly Billing</td>
                    <td>{% if account.account_type == 'Standard Business' %}
                            $<span class="monthly-usd">20</span> + i$20/mo
                        {% elif account.account_type == 'Premier Business' %}
                            $<span class="monthly-usd">30</span> + i$30/mo
                        {% elif account.account_type == 'Nonprofit' %}
                            $<span class="monthly-usd">20</span> + i$20/mo
                        {% elif account.account_type == 'Freelancer' %}
                            $<span class="monthly-usd">10</span> + i$10/mo
                        {% endif %}</td>
                </tr>
            </tbody>{% endif %}
        </table>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Login Information</th>
                    <td><a href="/accounts/create_account/{{ email_object.most_recent_confirmation_key}}" class="edit">edit</a></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Username</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ email_object.address }}</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Account Information</th>
                    <td><a href="/accounts/create_account/{{ email_object.most_recent_confirmation_key}}" class="edit">edit</a></td>
                </tr>
            </thead>
            <tbody>{% if account.account_type != 'Individual' %}
                <tr>
                    <td>Business Name</td>
                    <td>{{ account.entity_name }}</td>
                </tr>{% endif %}
                <tr>
                    <td>Contact Name</td>
                    <td>{{ user.full_name }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ account.address_1 }}<br>{{ account.address_1 }}<br>{{ account.city }}, {{ account.state }} {{ account.zip_code }}</span></td>
                </tr>
                <tr>
                    <td>TIN (last 4 digits)</td>
                    <td>{{ last_4 }}</td>
                </tr>
                <tr>
                    <td>Contact Number</td>
                    <td>{{ account.phone_landline }}</td>
                </tr>
                <tr>
                    <td>Enable TXT2PAY</td>
                    <td>{% if account.txt2pay == False %}
                            &#10008;
                        {% else %}
                            &#10004;
                        {% endif %}</td>
                </tr>
                <tr>
                    <td>Lease TXT2PAY Phone</td>
                    <td>{% if account.txt2pay_phone == False %}
                            &#10008;
                        {% else %}
                            &#10004;
                        {% endif %}</td>
                </tr>
                <tr>
                    <td>Mobile Number</td>
                    <td>{{ account.phone_mobile }}</td>
                </tr>
            </tbody>
        </table>
        {% if account.account_type != 'Individual' %}<table id="due-montly">
                <thead>
                    <tr>
                        <th colspan="2">Due Monthly (Starting next month)</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ account.account_type }}</td>
                    <td>{% if account.account_type == 'Standard Business' %}
                            $<span class="monthly-usd">20</span> + i$20<br>+2% on funds received
                        {% elif account.account_type == 'Premier Business' %}
                            $<span class="monthly-usd">30</span> + i$30<br>+2% on funds received
                        {% elif account.account_type == 'Nonprofit' %}
                            $<span class="monthly-usd">20</span> + i$20<br>+2% on funds received
                        {% elif account.account_type == 'Freelancer' %}
                            $<span class="monthly-usd">10</span> + i$10<br>+2% on funds received
                        {% endif %}
                    </td>
                </tr>
                </tbody>
        </table>
        <table>
                <tbody>
                    <tr id="annual_fee">
                        <td>One&ndash;Time Signup Fee</td>
                        <td>{% if account.account_type == 'Standard Business' %}
                                $<span class="annual-usd">240</span>
                            {% elif account.account_type == 'Premier Business' %}
                                $<span class="annual-usd">360</span>
                            {% elif account.account_type == 'Nonprofit' %}
                                $<span class="annual-usd">240</span>
                            {% elif account.account_type == 'Freelancer' %}
                                $<span class="annual-usd">120</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr id="monthly-fee">
                        <td>Monthly Fee</td>
                        <td>{% if account.account_type == 'Standard Business' %}
                                $<span class="monthly-usd">20</span>
                            {% elif account.account_type == 'Premier Business' %}
                                $<span class="monthly-usd">30</span>
                            {% elif account.account_type == 'Nonprofit' %}
                                $<span class="monthly-usd">20</span>
                            {% elif account.account_type == 'Freelancer' %}
                                $<span class="monthly-usd">10</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr id="total">
                        <td>Total Today</td>
                        <td>{% if account.account_type == 'Standard Business' %}
                                $<span class="total-usd">260</span>.00
                            {% elif account.account_type == 'Premier Business' %}
                                $<span class="total-usd">390</span>.00
                            {% elif account.account_type == 'Nonprofit' %}
                                $<span class="total-usd">260</span>.00
                            {% elif account.account_type == 'Freelancer' %}
                                $<span class="total-usd">130</span>.00
                            {% endif %}
                        </td>
                    </tr>
                    <tr id="checkout">
                        <td colspan="2">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">

                                Checkout with <button type="submit" class="paypal-button">PayPal</button>

                                <input type="hidden" name="cmd" value="_s-xclick">
                            {% if account.account_type == 'Standard Business' %}
                                <input type="hidden" name="hosted_button_id" value="2GVP4YZDG27ML">
                            {% elif account.account_type == 'Premier Business' %}
                                <input type="hidden" name="hosted_button_id" value="4M72KKRAMTXPL">
                            {% elif account.account_type == 'Nonprofit' %}
                                <input type="hidden" name="hosted_button_id" value="SKU9BAQ3ZJUVU">
                            {% elif account.account_type == 'Freelancer' %}
                                <input type="hidden" name="hosted_button_id" value="5SFX422BMEQJS">
                            {% endif %}
                            </form>
                </tbody>
        </table>
        {% else %}<p><a href="/accounts/purchase-ithaca-dollars/" class="white-button">Confirm</a></p>
        {% endif %}
        </div>
</div>
</div>

{% endblock %}

{% block foot %}
<script src="{% static 'account/js/account.js' %}"></script>
{% endblock %}
