{% extends 'head-foot.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'account/css/account.css' %}">
<style>
    .error-message {
        margin-left: 20px;
        margin-top: 10px;
        width: 300px;
        line-height: 1.2em;
        white-space: normal;
    }

    #id_is_ssn li {
        display: inline;
    }

    #ssn_label {
        margin-top: 10px;
        display: block;
        margin-bottom: -18px;
        font-size: 15px;
    }
</style>
{% endblock %}

{% block content %}
<div id="content">

<div id="sign-up-path" class="clear">
    <svg>
        <line x1="0" y1="0"
          x2="100%" y2="0"
          stroke="rgb(119, 173, 89)"
          stroke-width="6px"/>
    </svg>
    <div id="sign-up-1" class="sign-up-step">
        <div class="step-heading">Your Login</div>
        <div class="circle"><span>1</span></div>
    </div>
    <div id="sign-up-2" class="sign-up-step selected">
        <div class="step-heading">Your Info</div>
        <div class="circle">2</div>
    </div>
    <div id="sign-up-3" class="sign-up-step">
        <div class="step-heading">Review</div>
        <div class="circle">3</div>
    </div>
</div>

<div id="forms">
    <form id="account" method="POST" action="/accounts/review/" class="clear">
{% csrf_token %}

    <div id="info">

        <h2>Your Information</h2>
        <input type="hidden" name="most_recent_confirmation_key" value="{{ email_object.most_recent_confirmation_key }}">

        <div id="username" class="field">
            {% if user_form.username.errors %}
            {% for error in user_form.username.errors %}
                <p>{{ user_form.username }} <span class="error-message">{{ error|escape }}</span></p>
            {% endfor %}
        {% else %} 
            <p>{{ user_form.username }}</p>
        {% endif %}
            <div class="help-text">
                <div class="help">?</div>
                <div class="text">{{ user_form.username.help_text }}</div>
            </div>
        </div>


        <p>{{ form.account_type }}</p>

        <div id="account-type-selection">

        <div id="individual-info" class="info-card">
            <h3>Individual</h3>
            <h4>$0 + i$0 <small>/mo</small></h4>
            <h5>No signup fee fee</h5>

            <ul>
                <li>Access to Ithacash Online</li>
                <li>Connect a mobile phone for &ldquo;TXT2PAY&rdquo;</li>
                <li>Access to PayItFwd</li>
            </ul>
        </div>
        <div id="freelancer-info" class="info-card">
            <h3>Freelancer</h3>
            <h4>$10 + i$10 <small>/mo</small></h4>
            <h5>One&ndash;time signup fee of $120</h5>

            <ul>
                <li>Access to Ithacash Online</li>
                <li>Connect a mobile phone for &ldquo;TXT2PAY&rdquo;</li>
                <li>Access to PayItFwd</li>
                <li>Dedicated Account Manager</li>
                <li>Directory Listing</li>
            </ul>
        </div>
        <div id="standard-info" class="info-card">
            <h3>Standard Business</h3>
            <h4>$20 + i$20 <small>/mo</small></h4>
            <h5>One&ndash;time signup fee of $240</h5>

            <ul>
                <li>Access to Ithacash Online</li>
                <li>Connect a mobile phone for &ldquo;TXT2PAY&rdquo;</li>
                <li>Access to PayItFwd</li>
                <li>Dedicated Account Manager</li>
                <li>Directory Listing</li>
            </ul>
        </div>
        <div id="premier-info" class="info-card">
            <h3>Premier Business</h3>
            <h4>$30 + i$30 <small>/mo</small></h4>
            <h5>One&ndash;time signup fee of $360</h5>

            <ul>
                <li>Access to Ithacash Online</li>
                <li>Connect a mobile phone for &ldquo;TXT2PAY&rdquo;</li>
                <li>Access to PayItFwd</li>
                <li>Dedicated Account Manager</li>
                <li>Directory Listing</li>
                <li>Enhanced Visibility</li>
                <li>Priority Access to New Technology</li>
                <li>Higher PayItFwd Limit</li>
            </ul>
        </div>
        <div id="nonprofit-info" class="info-card">
            <h3>Nonprofit</h3>
            <h4>$20 + i$20 <small>/mo</small></h4>
            <h5>One&ndash;time signup fee of $240</h5>

            <ul>
                <li>Access to Ithacash Online</li>
                <li>Connect a mobile phone for &ldquo;TXT2PAY&rdquo;</li>
                <li>Access to PayItFwd</li>
                <li>Dedicated Account Manager</li>
                <li>Directory Listing</li>
            </ul>
        </div>

            <div id="entity-name" class="field">
            {% if form.address.errors %}
                {% for error in form.entity_name.errors %}
                    <p>{{ form.entity_name }} <span class="error-message">{{ error|escape }}</span></p>
                {% endfor %}
            {% else %} 
                <p>{{ form.entity_name }}</p>
            {% endif %}
            </div>

            <div id="full-name" class="field">
            {% if user_form.full_name.errors %}
                {% for error in user_form.full_name.errors %}
                    <p>{{ user_form.full_name }} <span class="error-message">{{ error|escape }}</span></p>
                {% endfor %}
            {% else %} 
                <p>{{ user_form.full_name }}</p>
            {% endif %}
                <div class="help-text">
                    <div class="help">?</div>
                    <div class="text">This should read exactly as it appears on your tax returns</div>
                </div>
            </div>

            <div id="tin" class="field">
            {% if form.tin.errors %}
                {% for error in form.tin.errors %}
                    <p>{{ form.tin.as_hidden }} <span class="error-message">{{ error|escape }}</span></p>
                {% endfor %}
            {% else %} 
                <p>{{ form.tin.as_hidden }} <input type="text" id="tin-input" name="tin-input" placeholder="Tax ID #"></p>
                <label id="ssn_label">
                    Please indicate which type of Tax-ID this is.
                </label>
                {{ form.is_ssn }}
            {% endif %}
                <div class="help-text">
                    <div class="help">?</div>
                    <div class="text">Required for tax reporting purposes. Your Tax ID # is either an Employer Identification Number (EIN) or a Social Security Number (SSN). This information is stored securely and is never shared.</div>
                </div>
            </div>

            {% if form.address_1.errors %}
                {% for error in form.address_1.errors %}
                    <p>{{ form.address_1 }} <span class="error-message">{{ error|escape }}</span></p>
                {% endfor %}
            {% else %} 
                <p>{{ form.address_1 }}</p>
            {% endif %}

            {% if form.address_2.errors %}
                {% for error in form.address_2.errors %}
                    <p>{{ form.address_2 }} <span class="error-message">{{ error|escape }}</span></p>
                {% endfor %}
            {% else %} 
                <p>{{ form.address_2 }}</p>
            {% endif %}

            {% if form.city.errors %}
                {% for error in form.city.errors %}
                    <p>{{ form.city }} <span class="error-message">{{ error|escape }}</span></p>
                {% endfor %}
            {% else %}
                <p>{{ form.city }}</p>
            {% endif %}

            {% if form.zip_code.errors %}
                {% for error in form.zip_code.errors %}
                    <p>{{ form.zip_code }} <span class="error-message">{{ error|escape }}</span></p>
                {% endfor %}
            {% else %}
                <p>{{ form.zip_code }}</p>
            {% endif %}

            {% if form.state.errors %}
                {% for error in form.state.errors %}
                    <p>{{ form.state }} <span class="error-message">{{ error|escape }}</span></p>
                {% endfor %}
            {% else %} 
                <p>{{ form.state }}</p>
            {% endif %}

            <div id="phone-landline" class="field">
            {% if form.phone_landline.errors %}
                {% for error in form.phone_landline.errors %}
                    <p>{{ form.phone_landline }} <span class="error-message">{{ error|escape }}</span></p>
                {% endfor %}
            {% else %} 
                <p>{{ form.phone_landline }}</p>
            {% endif %}
                <div class="help-text">
                    <div class="help">?</div>
                    <div class="text">This should be the number you want us to call when we need to get ahold of you. This can be the same number as the phone you want to use for TXT2PAY, but it doesn&rsquo;t have to be.</div>
                </div>
            </div>

            <div id="txt2pay" class="field">
                <p><label>{{ form.txt2pay }} I&rsquo;d like to use TXT2PAY</label></p>

                <div class="help-text">
                    <div class="help">?</div>
                    <div class="text">Enable my mobile phone to send and receive TXT2PAY messages</div>
                </div>
            </div>

            <div id="txt2pay-phone" class="field">
                <p><label>{{ form.txt2pay_phone }} I need a device for my Point of Sale</label></p>
                
                <div class="help-text">
                    <div class="help">?</div>
                    <div class="text">Lease a mobile phone from us for $10/mo to perform TXT2PAY transactions.</div>
                </div>
            </div>

            <div id="phone-mobile" class="field">
                <p>{{ form.phone_mobile }}</p>
                
                <div class="help-text">
                    <div class="help">?</div>
                    <div class="text">For use with &ldquo;TXT2PAY&rdquo;</div>
                </div>
            </div>

            <div id="signature">
                <h3>Signature</h3>

                <p>I certify that the above information is correct and also agree to the <a href="{% static 'docs/Ithacash_Inaugural_Membership_Agreement_v1.1.pdf' %}">terms & conditions</a></p>

                {% if form.electronic_signature.errors %}
                    {% for error in form.electronic_signature.errors %}
                        <p>{{ form.electronic_signature }} <span class="error-message">{{ error|escape }}</span></p>
                    {% endfor %}
                {% else %}
                    <p>{{ form.electronic_signature }}</p>
                {% endif %}
            </div>
        </div>

        <p><button type="submit" class="white-button next">Next</button></p>

    </div>

    
</form>
</div>

</div>
{% endblock %}

{% block foot %}
<script src="{% static 'account/js/account.js' %}"></script>
<script src="{% static 'account/js/jquery.mask.js' %}"></script>
<script>
$(function() {

    if ( $('#id_tin').val() != '' ) {
        $('#tin-input').val('*********')
    }  

    $('#tin-input').focus(function() {
        $(this).val($('#id_tin').val());
    });

    $('#tin-input').blur(function() {
        tin_val = $(this).val();
        $('#id_tin').val(tin_val);
        if ( tin_val != '*********') {
            $(this).val('*********');
        }
    });
})
</script>
{% endblock %}
