{% extends 'subpage.html' %}
{% load staticfiles %}

{% block styles %}
<style>

    #headline {
        margin-bottom: 5px;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        margin-bottom: 10px;
    }

    h3 + p {
        margin-top: 0;
    }

    #sign-up-pathway {
        width: 100%;
        background-color: rgb(140, 170, 69);
        color: white;
        padding: 10px 0;
        margin-bottom: 30px;
    }

    #sign-up-pathway ul {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 1em;
    }

    #sign-up-pathway ul li {
        display: inline;
        margin: 0 10px;
        list-style-type: none;
    }

    #sign-up-pathway ul li::before {
        height: 25px;
        width: 25px;
        display: inline-block;
        background-color: #B3D377;
        border-radius: 50%;
        content: "•";
        color: white;
        text-align: center;
        vertical-align: middle;
        line-height: 25px;
    }

    #sign-up-pathway ul li.selected::before {
        background-color: rgb(77, 116, 23);
    }


    #sign-up-pathway ul li.completed::before {
        background-color: rgb(77, 116, 23);
        content: "✔";
        font-size: .9em;
    }

    input, select {
        margin: 5px 0;
        width: 350px;
    }

    article {
        width: 100%;
    }

    sidebar {
        display: none;
    }

    body {
        padding-bottom: 60px;
    }

    #id_is_ssn {
        text-align: center;
        padding: 0;
        margin: 0;
        width: 350px;
        font-size: 1.4em;
        display: inline-block;
    }

    #id_is_ssn li {
        display: inline;
        margin: 0 10px;
    }

    #id_is_ssn li::before {
        content: none;
        margin: 0;
    }

    #id_is_ssn input {
        width: auto;
        margin: 0;
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block heading %}Get an Account{% endblock %}

{% block subheadline %}
<div id="sign-up-pathway">
<div class="container">
    <ul>
        <li class="completed">Confirm</li>
        <li class="selected">Select</li>
        <li>Account Info</li>
        <li>Review</li>
    </ul>
</div>
</div>
{% endblock %}

{% block article %}

    <section>
    <div class="white-background">
        <h2><b>Step 3:</b> Account Information</h2>
        <p><strong>It&rsquo;s free</strong>, but it&rsquo;s still your money, so we need your real information to make your account payment as safe as possible.</p>

        <form id="account" method="POST" action="" class="clear">
            {% csrf_token %}
            <input type="hidden" value="{{ user_id }}" name="user_id">
            <div style="width: 45%; float: left;">
                <div id="username" class="field">
                    {% if user_form.username.errors %}
                        {% for error in user_form.username.errors %}
                            <p>{{ user_form.username }} <span class="error-message">{{ error|escape }}</span></p>
                        {% endfor %}
                    {% else %}
                        <p>{{ user_form.username }} <span class="helptext-wrapper"><span class="helptext">{{ user_form.username.help_text }}</span></span></p>
                    {% endif %}
                </div>
                <div id="account-type" class="field">
                    {% if account_form.account_type.errors %}
                        {% for error in account_form.account_type.errors %}
                            <p>{{ account_form.account_type }} <span class="error-message">{{ error|escape }}</span></p>
                        {% endfor %}
                    {% else %}
                        <p>{{ account_form.account_type }} <span class="helptext-wrapper"><span class="helptext">{{ account_form.account_type.help_text }}</span></span></p>
                    {% endif %}
                </div>
                <div id="full-name" class="field">
                    {% if user_form.full_name.errors %}
                        {% for error in user_form.full_name.errors %}
                            <p>{{ user_form.full_name }} <span class="error-message">{{ error|escape }}</span></p>
                        {% endfor %}
                    {% else %}
                        <p>{{ user_form.full_name }} <span class="helptext-wrapper"><span class="helptext">{{ user_form.full_name.help_text }}</span></span></p>
                    {% endif %}
                </div>
                <div id="account-tin" class="field">
                    {% if account_form.tin.errors %}
                        {% for error in account_form.tin.errors %}
                            <p>{{ account_form.tin }} <span class="error-message">{{ error|escape }}</span></p>
                        {% endfor %}
                    {% else %}
                        <p>{{ account_form.tin }} <span class="helptext-wrapper"><span class="helptext">{{ account_form.tin.help_text }}</span></span></p>
                    {% endif %}
                </div>
                <div id="account-is-ssn" class="field">
                    {% if account_form.is_ssn.errors %}
                        {% for error in account_form.is_ssn.errors %}
                            <p>{{ account_form.is_ssn }} <span class="error-message">{{ error|escape }}</span></p>
                        {% endfor %}
                    {% else %}
                        <p>{{ account_form.is_ssn }} <span class="helptext-wrapper"><span class="helptext">{{ account_form.is_ssn.help_text }}</span></span></p>
                    {% endif %}
                </div>
                <div id="account-address-1" class="field">
                    {% if account_form.address_1.errors %}
                        {% for error in account_form.address_1.errors %}
                            <p>{{ account_form.address_1 }} <span class="error-message">{{ error|escape }}</span></p>
                        {% endfor %}
                    {% else %}
                        <p>{{ account_form.address_1 }} <span class="helptext-wrapper"><span class="helptext">{{ account_form.address_1.help_text }}</span></span></p>
                    {% endif %}
                </div>
                <div id="account-address-2" class="field">
                    {% if account_form.address_2.errors %}
                        {% for error in account_form.address_2.errors %}
                            <p>{{ account_form.address_2 }} <span class="error-message">{{ error|escape }}</span></p>
                        {% endfor %}
                    {% else %}
                        <p>{{ account_form.address_2 }} <span class="helptext-wrapper"><span class="helptext">{{ account_form.address_2.help_text }}</span></span></p>
                    {% endif %}
                </div>
                <div id="account-city" class="field">
                    {% if account_form.city.errors %}
                        {% for error in account_form.city.errors %}
                            <p>{{ account_form.city }} <span class="error-message">{{ error|escape }}</span></p>
                        {% endfor %}
                    {% else %}
                        <p>{{ account_form.city }} <span class="helptext-wrapper"><span class="helptext">{{ account_form.city.help_text }}</span></span></p>
                    {% endif %}
                </div>
                <div id="account-state" class="field">
                    {% if account_form.state.errors %}
                        {% for error in account_form.state.errors %}
                            <p>{{ account_form.state }} <span class="error-message">{{ error|escape }}</span></p>
                        {% endfor %}
                    {% else %}
                        <p>{{ account_form.state }} <span class="helptext-wrapper"><span class="helptext">{{ account_form.state.help_text }}</span></span></p>
                    {% endif %}
                </div>
                <div id="account-zip" class="field">
                    {% if account_form.zip_code.errors %}
                        {% for error in account_form.zip_code.errors %}
                            <p>{{ account_form.zip_code }} <span class="error-message">{{ error|escape }}</span></p>
                        {% endfor %}
                    {% else %}
                        <p>{{ account_form.zip_code }} <span class="helptext-wrapper"><span class="helptext">{{ account_form.zip_code.help_text }}</span></span></p>
                    {% endif %}
                </div>
            </div>
            <div style="width: 45%; float: right;">
            <div id="account-landline" class="field">
                {% if account_form.phone_landline.errors %}
                    {% for error in account_form.phone_landline.errors %}
                        <p>{{ account_form.phone_landline }} <span class="error-message">{{ error|escape }}</span></p>
                    {% endfor %}
                {% else %}
                    <p>{{ account_form.phone_landline }} <span class="helptext-wrapper"><span class="helptext">{{ account_form.phone_landline.help_text }}</span></span></p>
                {% endif %}
            </div>
            <div id="account-txt2pay" class="field">
                {% if account_form.txt2pay.errors %}
                    {% for error in account_form.txt2pay.errors %}
                        <p>{{ account_form.txt2pay }} <span class="error-message">{{ error|escape }}</span></p>
                    {% endfor %}
                {% else %}
                    <p>{{ account_form.txt2pay }} <span class="helptext-wrapper"><span class="helptext">{{ account_form.txt2pay.help_text }}</span></span></p>
                {% endif %}
            </div>
            <div id="account-mobile" class="field">
                {% if account_form.phone_mobile.errors %}
                    {% for error in account_form.phone_mobile.errors %}
                        <p>{{ account_form.phone_mobile }} <span class="error-message">{{ error|escape }}</span></p>
                    {% endfor %}
                {% else %}
                    <p>{{ account_form.phone_mobile }} <span class="helptext-wrapper"><span class="helptext">{{ account_form.phone_mobile.help_text }}</span></span></p>
                {% endif %}
            </div>

            <div id="account-signature" class="field">
                <h3>Signature</h3>
                {% if account_form.electronic_signature.errors %}
                    {% for error in account_form.electronic_signature.errors %}
                        <p>{{ account_form.electronic_signature }} <span class="error-message">{{ error|escape }}</span></p>
                    {% endfor %}
                {% else %}
                    <p>{{ account_form.electronic_signature }} <span class="helptext-wrapper"><span class="helptext">{{ account_form.electronic_signature.help_text }}</span></span></p>
                {% endif %}
            </div>

                <p><button name="user_id" value="{{ user_id }}">Submit</button></p>
            </div>
        </form>


    </div>
    </section>
{% endblock article %}

{% block sidebar %}{% endblock %}


{% block scripts %}
<script src="{% static 'account/js/account.js' %}"></script>
{% endblock %}
