{% extends 'head-foot.html' %}
{% load staticfiles %}

{% block head %}
<style>
    header {
        position: relative;
    }

    #content {
        padding-top: 0;
    }

    #nav-menu { display: none; }

    #head {
        background-image: url({% static 'img/hex-pattern.png' %});
        background-size: cover;
        padding: 100px 0;
        text-align: center;
        color: white;
        margin-bottom: 40px;
    }

    h2 {
        color: white;
        margin: 0;
    }

    #rows {
        width: 50%;
        margin: auto;
        padding: 60px 0;
    }

    .row {
        padding: 0 40px;
        color: rgb(88, 122, 70);
        font-size: 1.8em;
        line-height: 1.2em;
        margin: 40px 0;
    }

    .row p { vertical-align: middle; }

    .row:nth-of-type(odd) img {
        float: left;
        vertical-align: middle;
    }

    .row:nth-of-type(even) img {
        float: right;
        vertical-align: middle;
    }

    .copy {
        width: 50%;
        max-width: 500px;
        display: inline-block;
        vertical-align: middle;
        text-align: justify;
    }

    .row:nth-of-type(odd) .copy {
        float: left;
    }

    .row:nth-of-type(even) .copy {
        float: right;
    }

    .green-button {
        padding: 10px 20px;
        background-color: rgb(119, 172, 92);
        font-size: 1.2em;
        color: white;
        text-decoration: none;
    }

    #plans {
        margin: auto;
        text-align: center;
    }

    #plans h3, #plans h4 {
        text-align: center;
        color: black;
        font-size: 1.4em;
        text-transform: none;
        font-weight: 600;
    }

    #plans h3 {
        font-size: 2.6em;
        margin-bottom: 30px;
    }

    #plans h4 {
        font-size: 4em;;
        font-weight: 200;
        letter-spacing: -1px;
        line-height: 1.4em;
        text-transform: lowercase;
        margin-top: 0;
        margin-bottom: 20px;
    }

    #plans h5 {
        text-transform: uppercase;
        font-size: 1.4em;
        text-align: center;
    }

    #plans ul {
        font-size: 1.2em;
        text-align: left;
    }

    li {
        margin-bottom: 10px;
    }

    .plan {
        width: 300px;
        height: 550px;
        background-color: white;
        border-radius: 30px;
        color: #333;
        background-color: rgb(242, 241, 241);
        -webkit-transition: all .2s ease-out;
        display: inline-block;
        text-align: center;
        margin: 0 20px;
        position: relative;
        vertical-align: top;
    }

    .plan p {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        text-align: center;
    }

</style>
{% endblock %}

{% block content %}
<div id="content">

<div id="head">
    <h2>For Individuals</h2>
</div>

<div id="plans">

<div class="plan">
    <h3>Individual</h3>
    <h4><strong><span>$0</span></strong></h4>
    <h5>No annual fees</h5>

    <ul>
        <li>Access to Ithacash Online</li>
        <li>Connect a mobile phone for &ldquo;TXT2PAY&rdquo;</li>
        <li>Access to PayItFwd</li>
    </ul>

    <p><a href="apply/" class="green-button">Select Individual</a></p>
</div>

<div class="plan">
    <h3>Freelancer</h3>
    <h4><strong><span>$12</span></strong></h4>
    <h5>No annual fees</h5>

    <ul>
        <li>Access to Ithacash Online</li>
        <li>Connect a mobile phone for &ldquo;TXT2PAY&rdquo;</li>
        <li>Access to PayItFwd</li>
        <li>Dedicated Account Manager</li>
        <li>Directory Listing</li>
    </ul>

    <p><a href="/sign-up/freelancer/apply/" class="green-button">Select Freelancer</a></p>
</div>

</div>
</div>
{% endblock %}
