{% extends 'subpage.html' %}
{% load staticfiles %}

{% block headline %}Success!{% endblock %}

{% block subheadline %}Welcome to Ithacash!{% endblock subheadline %}

{% block article %}

    <p>Great work! Your application has been submitted successfully and will be reviewed shortly. You should be online and using TXT2PAY in no time!</p>

    <p>We’ll be in touch as soon as possible.</p>

    <p>Can&rsquo;t wait to hear how things go! If there&rsquo;s anything in the meantime we can help with, please don&rsquo;t hesitate to reach out.</p>

    <p><a href="mailto:support@ithacash.com">support@ithacash.com</a><br>607&ndash;391&ndash;2789.</p>
</div>
{% endblock article %}
