{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/page-creator.css' %}">
<style>
    #content {
        padding-top: 0;
    }

    section {
        padding: 0;
    }

    button {
        font-size: 1em;
        padding: 5px 10px;
    }

    table {
        border-collapse: collapse;
    }

    th {
        text-align: left;
    }

    tbody tr {
        border-top: 1px solid #555;
        border-bottom: 1px solid #555;
    }

    td, th {
        padding: 10px;
    }

    textarea {
        width: calc(100% - 45px);
        color: black;
    }
</style>
{% endblock %}

{% block header %}
<h1>Ithacash Subpages</h1>
{% endblock %}

{% block content %}
<section>
<div class="container">
    <div class="left">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>URL</th>
                <th>Heading</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td><a href="{{ page.url }}" target="_blank">{{ page.url }}</a></td>
                <td>{{ page.subpage.heading }}</td>
                <td><button name="page_id" value="{{ page.id }}">Edit</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="right">
        <form method="POST" action="" class="standard-form">
                <div class="hide">
                    {{ flatpage_form.enable_comments }} {{ flatpage_form.registration_required }} {{ flatpage_form.sites }} {{ flatpage_form.id }}
                </div>

                <p>{{ flatpage_form.url }} <span class="helptext-wrapper dark-gray-background"><span class="helptext">{{ form.url.help_text|safe }}</span></span></p>

                <p>{{ subpage_form.heading }} <span class="helptext-wrapper dark-gray-background"><span class="helptext">{{ form.heading.help_text|safe }}</span></span></p>

                <p>{{ flatpage_form.title }} <span class="helptext-wrapper dark-gray-background"><span class="helptext">{{ form.title.help_text|safe }}</span></span></p>

                <p>{{ flatpage_form.template_name }} <span class="helptext-wrapper dark-gray-background"><span class="helptext">{{ form.template_name.help_text|safe }}</span></span></p>

                <p>{{ flatpage_form.content }} <span class="helptext-wrapper dark-gray-background"><span class="helptext">{{ form.content.help_text|safe }}</span></span></p>

                <h3>Styling elements</h3>

                <div id="styling-elements">
                    <div class="styling-element">
                        <a>link</a>
                        <span><a href=""></a></span>
                    </div>

                    <div class="styling-element">
                        <h3>Subheading</h3>
                        <span><h3></h3></span>
                    </div>

                    <div class="styling-element">
                        <a class="cta-link">CTA link</a>
                        <span><a class="cta-link" href=""></a></span>
                    </div>

                    <div class="styling-element">
                        <strong>bold text</strong>
                        <span><strong></strong></span>
                    </div>

                    <div class="styling-element">
                        <i>italic text</i>
                        <span><i></i></span>
                    </div>
                </div>

                <p><button>Update</button></p>
            </div>
        </form>
    </div>
</div>
</section>
{% endblock %}

{% block scripts %}
<script>
    $('.left button').click(function() {
        page_id = $(this).val();
        console.log(page_id);

        $.ajax({
            type: "POST",
            url: "",
            data: {id:parseInt(page_id), form:'edit'}
        })
        .always(function( response ) {
            console.log(response);
        })
        .success(function( response ) {
            console.log(response);
            flatpage = response.flatpage;
            subpage = response.subpage;

            $('#id_url').val(flatpage.url);
            $('#id_title').val(flatpage.title);
            $('#id_content').val(flatpage.content);
            $('#id_subpage select').val(subpage.flatpage);
            $('#id_heading').val(subpage.heading);
            $('.right button').val(flatpage.id);
        });
    })

    $.fn.extend({
    insertAtCaret: function(myValue){
      return this.each(function(i) {
        if (document.selection) {
          //For browsers like Internet Explorer
          this.focus();
          var sel = document.selection.createRange();
          sel.text = myValue;
          this.focus();
        }
        else if (this.selectionStart || this.selectionStart == '0') {
          //For browsers like Firefox and Webkit based
          var startPos = this.selectionStart;
          var endPos = this.selectionEnd;
          var scrollTop = this.scrollTop;
          this.value = this.value.substring(0, startPos)+myValue+this.value.substring(endPos,this.value.length);
          this.focus();
          this.selectionStart = startPos + myValue.length;
          this.selectionEnd = startPos + myValue.length;
          this.scrollTop = scrollTop;
        } else {
          this.value += myValue;
          this.focus();
        }
      });
    }
    });

    $('.styling-element').click(function() {
        $('#id_content').insertAtCaret($('span', this).html());
    });
</script>
{% endblock %}
