{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" class="clear">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{{ flatpage.subpage.meta_desc | default_if_none:'Money Made for Main St.' }}" />
        <meta name="keywords" content="{{ flatpage.subpage.meta_keywords | default_if_none:'ithaca, local, currency' }}" />

        <title>{% block title %}{{ flatpage.title }} :: Ithacash{% endblock %}</title>

        <link href='//fonts.googleapis.com/css?family=Maven+Pro:500,400,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'css/page-creator.css' %}">
        <style>
            #sidebar {
                width: 25%;
                float: right;
            }

            article {
                width: 75%;
                float: left;
                padding-right: 60px;
            }

            #headline {
                background-image: url('/static/img/img_pattern_hex_green.png');
                background-size: cover;
                padding: 20px 0;
                margin-bottom: 30px;
            }

            h1 {
                font-family: "Open Sans";
                font-weight: 400;
                color: white;
                font-size: 1.6em;

            }
        </style>
        {% block styles %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{% static 'img/IthaCash_icon_2color.png' %}">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>if (!window.jQuery) { document.write('<script src="/static/js/jquery-1.11.3.min.js"><\/script>'); }</script>

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@ithacash">
        <meta name="twitter:title" content="{{ flatpage.title }} :: Ithacash">
        <meta name="twitter:description" content="Money Made for Main St.">
        <meta name="twitter:creator" content="@ithacash">
        <meta name="twitter:image" content="{{ flatpage.subpage.meta_image | default_if_none:'https://ithacash.com/static/img/ithacash_logo_rgb_747x200.png' }}">

        <!-- Open Graph data -->
        <meta property="og:title" content="{{ flatpage.title }} :: Ithacash" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://ithacash.com{{ request.get_full_path }}" />
        <meta property="og:image" content="{{ flatpage.subpage.meta_image | default_if_none:'https://ithacash.com/static/ithacash_logo_rgb_747x200.png' }}" />
        <meta property="og:description" content="Money Made for Main St." />
        <meta property="og:site_name" content="Ithacash" />

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-59984381-2', 'auto');
            ga('send', 'pageview');

        </script>

    </head>
    <body class="clear">

    <div id="container" class="clear">

        <header>
            <div class="container">
            {% block header %}
            <div id="header-top">
                <h1><a href="/"><img src="{% static 'img/ithacash_logo_rgb_325x124.png' %}" alt="ithacash"></a></h1>
            </div>

            <div id="header-contact">
                <p>A regional benefit currency</p>
                <p>607&ndash;391&ndash;2789</p>
                <p><a href="/contact/">Contact Us</a></p>
            </div>
            {% endblock %}
            </div>
        </header>

        <div id="content">

        <div id="headline">
        <div class="container">
            <h1>{{ flatpage.subpage.heading }}</h1>
        </div>
        </div>
        <div class="container">
        <h2>{{ flatpage.title }}</h2>
            {% block content %}
                <article>
                    {{ flatpage.content }}
                </article>
            {% endblock %}

             <aside id="sidebar">

            </aside>
        </div>
        </div>

        <footer>
            {% block footer %}{% endblock %}
        </footer>

    </div>

    {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>if (!window.jQuery) { document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>'); }
        </script>
        <script src="{% static 'js/ithacash.js' %}"></script>
    {% endblock %}

    </body>
</html>
